@using ArtSkills.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model List<Comment>
@{
    ViewData["Title"] = "CommentsCollection";
}

@if (
    Model.Count == 0)
{
    <p class="no-comments text-center">No comments yet! But you can fix it. ^_^ </p>
}

@foreach (var comment in Model.OrderBy(a => a.CommentDate))
{
    <div class="post-comment">
        @{await Html.RenderPartialAsync("Comment.cshtml", comment);}
    </div>
    <hr />
}