
@{
    ViewData["Title"] = "ErrorWhileLoading";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="text-center">
        <h1>Sorry~</h1>
        <h2>Can't load posts! :<</h2>
    </div>

