@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <img src="~/Resources/kitty.png" style="padding: 10px;"/>
    <h1 class="display-4">Welcome home!</h1>
    <p>Challenge your ArtSkills now!</p>
    <hr/>
</div>
