@using ArtSkills.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Rewrite.Internal.UrlActions
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject UserManager<ApplicationUser> UserManager
@model List<Art>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center bg-image">
    <img src="~/Resources/kitty.png" style="padding: 10px;" />
    <h1 class="display-4">@Localizer["Welcome"]</h1>
    <p>@Localizer["Message"]</p>
    <hr />
</div>

@if (Model.Count != 0)
{
    <div class="posts" id="postsArea">
        @{await Html.RenderPartialAsync("~/Views/Art/ArtsCollection.cshtml", Model);}
    </div>
}
else
{
    <div class="text-center">
        <h1>@Localizer["NoArts"]</h1>
    </div>
}

<script>
    $(function () {
        var pageNumber = 0;
        var _inCallback = false;
        function loadItems() {
            if (pageNumber > -1 && _inCallback == false) {
                _inCallback = true;
                pageNumber++;
                $.ajax({
                    type: 'GET',
                    url: '/',
                    data: {
                        pageNumber: pageNumber
                    },
                    success: function (data, textstatus) {
                        if (data != '') {
                            $(".posts").append(data);
                        }
                        else {
                            pageNumber = -1;
                        }
                        _inCallback = false;
                    }
                });
            }
        }
        $(window).scroll(function () {
            if($(window).scrollTop() + $(window).height() > $(document).height() - 50){
                    loadItems();
            }
        });
    })
</script> 