@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center bg-image">
    <h1>@ViewData["Title"]</h1>
    <p>Our privacy policy will be presented here later.</p>
    <p>If you have any questions, feel free to contact us:</p>
    <a>annatardream@gmail.com</a>
</div>
<hr />
<div class="text-center">
    <img src="~/Resources/wait.png" style="padding: 10px;" alt="" />
</div>
