@{
    ViewData["Title"] = "Privacy Policy";
}
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
        <p>Our privacy policy will be presented here later.</p>
        <img src="~/Resources/wait.png" style="padding: 10px;" alt="" />
    </div>
