@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@Localizer["Title"]</h1>
<div>
    <p>
        @Localizer["Message"]
    </p>
</div>
