/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
    border-top: 1px solid #CC6181;
}
.border-bottom {
    border-bottom: 1px solid #CC6181;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(181, 65, 105, 12);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #F4BCD2;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    color: #CC6181;
}

.userpic > img {
    float: none;
    border: 5px solid #fff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    width: 110px;
    height: 110px;
    object-fit: cover;
}

/* ============== Post ============== */

.post {
    padding: 10px 0;
    margin: 10px 0;
}

.post-owner > a {
    display: inline-block;
    color: #000000;
    font-size: 16px;
    margin: 5px 0;
    font-weight: 600;
}

.post-owner > a:hover {
    color: #00838f;
}

.post-date {
    display: inline-block;
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
    margin-bottom: 5px;
}

.post-text {
    color: #000000;
    font-size: 16px;
    font-weight: 200;
    background-color: #F7CEDE;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#postTextArea {
    resize: vertical;
}

.delete-post-button {
    color: #F7CEDE;
    width: 16px;
    height: 16px;
    padding: 5px;
    margin: 5px;
    float: right;
    border: none;
    background-color: #F7CEDE;
    background-image: url('../Resources/delete.png')
}

.post-likes {
    float: right;
    margin-bottom: 10px;
    margin-left: 5px;
}

    .post-likes > .not-liked {
        background-color: #F7CEDE;
        color: #F7CEDE;
        width: 32px;
        height: 32px;
        background-image: url('../Resources/unlikedheart.png')
    }

        .post-likes > .not-liked:hover {
            background-color: #F7CEDE;
            color: #F7CEDE;
            width: 32px;
            height: 32px;
            background-image: url('../Resources/hoverheart.png')
        }

    .post-likes > .liked {
        background-color: #F7CEDE;
        color: #F7CEDE;
        width: 32px;
        height: 32px;
        background-image: url('../Resources/heart.png')
    }

        .post-likes > .liked:hover {
            background-color: #F7CEDE;
            color: #F7CEDE;
            width: 32px;
            height: 32px;
            background-image: url('../Resources/hoverheart.png')
        }


.commentsArea {
    float: right;
    width: 70%;
    background-color: #F7DEE8;
    margin-bottom: 10px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 5px;
}

.delete-comment-button {
    color: #F7DEE8;
    width: 16px;
    height: 16px;
    padding: 5px;
    margin: 5px;
    float: right;
    border: none;
    background-color: #F7DEE8;
    background-image: url('../Resources/delete.png')
}

.comment-owner > a {
    display: inline-block;
    color: #000000;
    font-size: 14px;
    margin: 3px 0;
    font-weight: 600;
}

.comment-owner-photo {
    width: 50px;
    height: 50px;
    border: 5px solid #fff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.comment-owner > a:hover {
    color: #00838f;
}

.comment-date {
    display: inline-block;
    color: #000000;
    font-size: 14px;
    font-weight: 300;
}

.comment-text {
    margin: 5px 0;
    color: #000000;
    font-size: 14px;
    font-weight: 300;
}

.comment-sending-area {
    float: right;
    width: 70%;
    background-color: #F7DEE8;
    margin-bottom: 20px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 0;
}

.comment-sending-form {
    width: 100%;
    height: 100%;
    background-color: #F7DEE8;
    color: #b2b2b2;
    font-size: 12px;
    padding: 5px 10px 0 10px;
    border: 1px solid #e6e6e6;
    resize: none;
    text-align: start;
    margin: 0;
}

.add-comment-button {
    color: #F7DEE8;
    width: 32px;
    height: 32px;
    padding: 5px;
    margin: 5px;
    float: right;
    border: none;
    background-color: #F7DEE8;
    background-image: url('../Resources/plus.png')
}

.no-comments {
    margin-left: 5px;
}

.followers-main {
    position: -webkit-sticky;
    display: block;
    position: sticky;
    top: 70px;
}

.followers-main-title {
    float: left;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
}

    .followers-main-title h3 {
        color: #000000;
        font-size: 18px;
        font-weight: 600;
        float: left;
    }

    .followers-main-title > h3 > span {
        color: #006064;
        font-size: 18px;
        font-weight: 500;
    }

.followers-main-list {
    float: left;
    width: 100%;
}

.followers-main-usd {
    float: left;
    width: 100%;
    padding: 15px 20px;
}

    .followers-main-usd img {
        width: 40px;
        height: 40px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
    }

.followers-text {
    float: left;
    padding-top: 10px;
    padding-left: 15px;
}

    .followers-text > a:hover {
        color: #006064
    }

    .followers-text a {
        color: #000000;
        font-size: 14px;
        font-weight: 700;
    }

.view-more {
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #e5e5e5;
}

    .view-more > a {
        color: #006064;
        font-size: 14px;
        font-weight: 700;
    }

        .view-more > a:hover {
            color: #e44d3a
        }


/* ============== followers-info ============== */


.main-title {
    color: #000000;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.followers-title {
    color: #000000;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

.followers-list {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.follower-info {
    float: left;
    width: 200px;
    background-color: #F7DEE8;
    text-align: center;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 30px;
}

.follower-up-info {
    float: left;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
}

    .follower-up-info > img {
        float: none;
        border-radius: 100px;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

.follower-info > a {
    display: inline-block;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
}

    .follower-info > a:hover {
        color: #00838f;
    }


.responsive {
    width: 100%;
    height: auto;
    max-width: 700px;
}

.delete-tasklist-button {
    color: #F7CEDE;
    width: 16px;
    height: 16px;
    padding: 5px;
    margin: 5px;
    float: right;
    border: none;
    background-color: #F7CEDE;
    background-image: url('../Resources/delete.png')
}

.uncomplete-tasklist-button {
    color: #F7CEDE;
    width: 32px;
    height: 32px;
    padding: 5px;
    margin: 5px;
    float: right;
    border: none;
    background-color: #F7CEDE;
    background-image: url('../Resources/unchecked.png')
}

.complete-tasklist-button {
    color: #F7CEDE;
    width: 32px;
    height: 32px;
    padding: 5px;
    margin: 5px;
    float: right;
    border: none;
    background-color: #F7CEDE;
    background-image: url('../Resources/check.png')
}

.add-task-button {
    color: #F7CEDE;
    width: 32px;
    height: 32px;
    padding: 5px;
    margin: 5px;
    float: right;
    border: none;
    background-color: #F7CEDE;
    background-image: url('../Resources/plus.png')
}

