@using ArtSkills.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model ApplicationUser
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h1>@Model.artistNickname</h1>
    <p>@Model.About</p>
    @if (Model.Id != UserManager.GetUserId(User))
    {
        <button id="update-profile-button" type="submit" class="btn btn-primary">Follow user</button>
    }
    @if (Model.Id == UserManager.GetUserId(User))
    {
        <button id="load-art" type="submit" class="btn btn-primary">Load art</button>
        <button id="add_tasklist" type="submit" class="btn btn-primary">Add tasklist</button>
    }
</div>
<hr>

<div class="text-center">
    <partial name="_UserWallNavigation" />
    <hr />
    @RenderBody()
</div>
