@using ArtSkills.Models
@using ArtSkills.ViewModels
@model UserAndArtsViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="btn-group" role="group">
    <button type="button" class="btn btn-default bg-white">@Html.ActionLink(Localizer["About"].Value, "About", "UserWall", new { Id = Model.user.Id })</button>
    <button type="button" class="btn btn-default bg-white active">@Html.ActionLink(Localizer["Arts"].Value, "Index", "UserWall", new { Id = Model.user.Id })</button>
    <button type="button" class="btn btn-default bg-white">@Html.ActionLink(Localizer["TaskLists"].Value, "TaskListIndex", "UserWall", new { Id = Model.user.Id })</button>
    <button type="button" class="btn btn-default bg-white">@Html.ActionLink(Localizer["Followers"].Value, "Followers", "UserWall", new { Id = Model.user.Id })</button>
</div>
