@using ArtSkills.Models
@model ApplicationUser
<div class="btn-group" role="group">
    <button type="button" class="btn btn-default bg-white">@Html.ActionLink("About artist", "About", "UserWall", new { Id = Model.Id })</button>
    <button type="button" class="btn btn-default bg-white active">@Html.ActionLink("Arts", "Index", "UserWall", new { Id = Model.Id })</button>
    <button type="button" class="btn btn-default bg-white">Tasklists</button>
    <button type="button" class="btn btn-default bg-white">@Html.ActionLink("Followers", "Followers", "UserWall", new { Id = Model.Id })</button>
</div>
