@using ArtSkills.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model ApplicationUser
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout.cshtml";
}

@if (Model.Arts.Count != 0)
{
    <div class="posts" id="postsArea">
        @{await Html.RenderPartialAsync("~/Views/Art/ArtsCollection.cshtml", @Model.Arts.OrderByDescending(a => a.PublishDate).ToList());}
    </div>
}
else
{
    <div class="text-center">
        <h1>No arts yet! :c </h1>
    </div>
}
