@using ArtSkills.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using ArtSkills.ViewModels;
@model UserAndArtsViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout.cshtml";
}


<div data="@Model.Id" id="idGiver"></div>

@if (Model.Arts.Count != 0)
{
    <div class="posts" id="postsArea">
        @{await Html.RenderPartialAsync("~/Views/Art/ArtsCollection.cshtml", Model.Arts);}
    </div>
}
else
{
    <div class="text-center">
        <h1>@Localizer["Message"]</h1>
    </div>
}

<script>
    $(function () {
        var pageNumber = 0;
        var _inCallback = false;
        var Id = '@Model.Id';
        function getArts() {
            if (pageNumber > -1 && !_inCallback) {
                _inCallback = true;
                pageNumber++;
                $.ajax({
                    type: 'GET',
                    url: '/UserWall/Index/',
                    data: {
                        Id: Id,
                        pageNumber: pageNumber
                    },
                    success: function (data) {
                        if (data != '') {
                            $(".posts").append(data);
                        }
                        else {
                            pageNumber = -1;
                        }
                        _inCallback = false;
                    }
                });
            }
        }
        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                getArts();
            }
        });
    })
</script>
