@using ArtSkills.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model ApplicationUser
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout.cshtml";
}

@if (Model.Arts.Count != 0)
{
    <div class="container-fluid posts-container">
        @foreach (var Art in @Model.Arts.OrderByDescending(a => a.PublishDate))
        {
            @await Html.PartialAsync("Art", Art)
            <hr />
        }
    </div>
}
else
    {
       <div class="text-center">
            <h1>No arts yet! :c </h1>
        </div>
    }
