@using ArtSkills.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model ApplicationUser
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout.cshtml";
}

        @if (Model.Arts.Count == 0)
        {
            <h3>No posts yet! :c</h3>
        }
        @if (Model.Arts.Count != 0)
        {
            foreach (var Art in Model.Arts)
            {
                @if (Art.ImagePath != null)
                {
                    <label>@Art.Name</label>
                    <img src="@Art.ImagePath" />
                }
            }
        }